[package]
name = "bouncer-proto"
version = "0.1.0"
edition = "2024"

[features]
default = []
tokio = ["dep:tokio"]

[dependencies]
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true, optional = true, features = ["io-util"] }
